@import './variables';
@import './mixin';

.bday {
    background-color: black;
    .bday-block {
        width: $middleWidth;
        @include layoutMargin;
        .bb-top {
            p {
                margin: 0;
                color: #afafaf;
                text-transform: uppercase;
                font-family: $commonFont;
                padding: 30px 0;
                text-align: center;
            } 
        }
        .bb-middle {
            display: grid;
            grid-template-columns: repeat(9,1fr);
            .bday-card {
                height: 320px;
                text-align: center;
                color: #afafaf;
                border-radius: 5px;
                img {
                    padding: 15px;
                    width: 140px;
                    height: 220px;
                }
                h3 {
                    font-family: $commonFont;
                    font-size: 14px;
                    margin: 0;
                    padding: 5px 0;
                }
                h4 {
                    display: none;
                    font-family: $commonFont;
                    font-size: 14px;
                    margin: 0;
                    padding: 10px 0;
                }
            }
            .bday-card:hover {
                background: #fff;
                h4 {
                    display: inline;
                    font-family: $commonFont;
                    font-size: 14px;
                    margin: 0;
                }
            }
            .material-icons {
                display: grid;
                color: #fff;
                align-items: center;
                justify-items: center;
            }
        }
        .bb-bottom {
            p {
                margin: 0;
                color: #afafaf;
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
                font-family: $commonFont;
                padding: 50px 0;
                text-align: center;
                text-decoration: underline;
            } 
    
        }
    }
}
